body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

/*CMS Descargas*/
.cabecera-pagina-estatica {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
}

.cabecera-pagina-estatica h2 {
  margin-bottom: 1em !important;
}

.descargas-cards {
  text-align: center;
}

.descargas-cards .panel {
  vertical-align: top !important;
}

.descargas-cards .panel-heading {
  background: #004b5c;
  /*background: #30b5e1;*/
}

.descargas-cards .panel-title {
  color: #fff !important;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .descargas-cards .panel-body {
    min-height: 90px;
  }
}

/*CMS Empresa*/
.cita-txt-empresa {
  font-size: 1.15em;
}

.empresa-international {
  margin-top: 2em;
  height: 25em;
  background: url('images/street-art-1457375_1920.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.international-text-container {
  width: 50%;
  float: right;
  background: rgba(0, 0, 0, 0.7);
  padding: 1.5em;
  color: #fff;
}

.cercle {
  vertical-align: top;
  /*margin-top: 0 !important;*/
  margin: 1em;
}

.tecnologias .list-inline li {
    padding: 0.725em 1em !important;
    line-height: 1.15;
    background: #30b5e1 !important;
    color: #fff;
}

.card {
  margin: 1em 2em !important;
}

.card img {
  width: 100% !important;
}


.ecologico .icona {
  color: #49a800;
}

.ecologico .titol-eco h3 {
  color: #49a800 !important;
}
